language: ruby
before_install:
  - sudo mkdir /usr/local/evm
  - sudo chown travis:travis /usr/local/evm

  - sudo add-apt-repository -y ppa:cassou/emacs
  - sudo apt-get update -qq
  - sudo apt-get build-dep -qq emacs23
  - sudo apt-get build-dep -qq emacs24

  - bin/evm config path /tmp
  - bin/evm install $EVM_EMACS
  - bin/evm use $EVM_EMACS
script:
  - bundle exec rspec spec
  - bin/emacs --version
  - bin/emacs -Q --batch --eval '(unless (string= (getenv "EVM_EMACS") (format "emacs-%d.%d-travis" emacs-major-version emacs-minor-version)) (kill-emacs 1))'
rvm:
  - 1.9.3
env:
  - EVM_EMACS=emacs-24.1-travis
  - EVM_EMACS=emacs-24.2-travis
  - EVM_EMACS=emacs-24.3-travis
  - EVM_EMACS=emacs-24.4-travis
  - EVM_EMACS=emacs-24.5-travis
  - EVM_EMACS=emacs-25.1-travis
  - EVM_EMACS=emacs-25.2-travis
  - EVM_EMACS=emacs-25.3-travis
  - EVM_EMACS=emacs-26.1-travis
  - EVM_EMACS=emacs-26.2-travis
